{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    "react-hot-loader/babel",
    ["babel-root-import", [{
      "rootPathPrefix": "~", // `~` is the default so you can remove this if you want
      "rootPathSuffix": "app"
    }]]
  ]
}
