.editorWrapper {
  width: 90%;
  height: 400px;
  margin: 10px auto;
  font-size: 14px;
  font-family: monospace;
}

.codeEditor {
  height: 100%;
  line-height: 1.3;
  color: white;
  background-color: #313335;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
